<%= stylesheet_link_tag    'dashboard', media: 'all' %>
<div id="flex-wrapper">
  <div id="schedule">
    <ul>
      <li>
        <a href="">Kristin</a>
        <a href="">Kristin</a>
        <a href="">Ronald</a>
      </li>
    </ul>
  </div>
  <div id="partions">
    <div id="employees">
      <a href="">View all employees</a>
    </div>

    <div id="canditates">
      <a href="">View all interview</a>
    </div>
    <div id="payrolls">
      <a href="">View payroll</a>
    </div>
  </div>
</div>



