// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div {
  box-sizing: border-box;
}

#flex-wrapper {
  display: flex;
  flex: 1 3;
  #schedule {
    display: flex;
    flex: 1 1 20%;
    max-height: 50%;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
  }

  #partions {
    height: 200px;
    background-color: white;
    margin: 10px;
    margin-right: 25px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 80%;
    align-content: space-between;

    div {
      display: flex;
      flex-wrap: wrap;
      flex: auto;
      height: 200px;
      align-content: space-between;
    }
  }
}


